/* Default light theme */
:root {
    --navbar-bg: #ffffff; /* Light background */
    --text-color: #000000; /* Light text color */
    --button-border: tomato;
    --button-bg: transparent;
    --button-hover-bg: #fff4f2;
}

/* Dark theme */
[data-theme='dark'] {
    --navbar-bg: #333333; /* Dark background */
    --text-color: #ffffff; /* Dark text color */
    --button-border: #ff5733;
    --button-bg: #000000;
    --button-hover-bg: #313131;
}

.navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--navbar-bg);
    color: var(--text-color);
}

.navbar .logo {
    max-width: 200px;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: var(--text-color);
    font-size: 18px;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar button {
    background: var(--button-bg);
    font-size: 16px;
    color: var(--text-color);
    border: 1px solid var(--button-border);
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover {
    background-color: var(--button-hover-bg);
}

.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid var(--text-color);
}

.navbar li {
    cursor: pointer;
}

.navbar-right .dark-mode {
    cursor: pointer;
}

.navbar-profile{
    position: relative;
    cursor: pointer;
}

.nav-profile-dropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}

.navbar-profile:hover .nav-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 1px ;
    background-color: #fff2ef;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid tomato;
    outline: 2px solid white;
    list-style: none;
}

[data-Theme='dark'] .nav-profile-dropdown{
    color: black;
}

.nav-profile-dropdown li{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.nav-profile-dropdown img{
    width: 20px;
}

.nav-profile-dropdown li:hover{
    color: tomato;
}

@media (max-width:1050px) {
    .navbar .logo {
        width: 140px;
    }
    .navbar-menu {
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right {
        gap: 30px;
    }
    .navbar-right img {
        width: 22px;
    }
    .navbar-right button {
        padding: 8px 25px;
    }
}

@media (max-width:900px) {
    .navbar .logo {
        width: 120px;
    }
    .navbar-menu {
        gap: 20px;
        font-size: 16px;
    }
    .navbar-right {
        gap: 20px;
    }
    .navbar-right img {
        width: 20px;
    }
    .navbar-right button {
        padding: 7px 20px;
        font-size: 15px;
    }
}

@media (max-width:750px) {
    .navbar-menu {
        display: none;
    }
}
